{% extends "base.html" %}

{% block head %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    <script src="../static/js/answer.js"></script>

{% endblock %}

{% block content %}

    <div class="container is-flex is-flex-direction-column is-align-items-center mt-5">
        <div class="box p-5" style="width: 50%; max-width: 600px; margin-top: -125px;">
            <h1 class="title is-3">Profile</h1>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Description:</strong> {{ profile.description }}</p>
            <p><img src="{{ profile.photo }}" alt="User Photo" class="avatar"></p>
            <a class="button is-link is-light" style="width: 540px; margin-top: 20px;" href="{{ url_for('get_edit_profile_page') }}">Edit Profile</a>
        </div>

        {% if history %}
            <div class="box p-5 mt-4" style="width: 50%; max-width: 600px;">
                <p class="title is-4">History:</p>
                <ul class="history-list">
                    {% for item in history %}
                        {% if item.name %}
                            <li class="mb-2">
                                <button class="button is-link is-light" onclick="showAnswer('{{ item.answer }}')">{{ item.name }}</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div id="answer-display" class="mt-4"></div>
            </div>
        {% endif %}
    </div>

{% endblock %}